


<!-- <div style="z-index:9; overflow: hidden; position: fixed; border-bottom: 2px solid #FFFFFF06;" [style.background-color]="colorset.timeAxisBackground">
    <div #timeaxis 
        style="user-select: none; min-width: 100vw; cursor: ew-resize;"
       >
    </div>
</div>


<div style="overflow: hidden; position: fixed;" [style.background-color]="colorset.graphBackground">
    <div #grid></div>
</div> -->

<div style="overflow: hidden;">
    <div style="border-bottom: 2px solid #FFFFFF06; background-color: #f9f9f9;">
        <div #timeaxis style="user-select: none; cursor: ew-resize;">
        </div>
    </div>
    
    <div #graph class="graph-style">
    </div>
</div>
