<div style="display: flex; flex-direction: column; height: 100%;">

    <div class="d-flex justify-content-between w-100 align-items-center pr-4 pl-4 pt-3 pb-2"
        style="border-bottom: 1px solid #DDD;">
        <div>
            <span style="font-size: large;">{{project?.name}} </span>
            {{members ? (" · " + members.length + " members") : ""}}
        </div>
        <div>
            <button mat-button (click)="createMember()">
                <span class="material-icons-outlined" style="font-size: 18px;">add_box</span>
                Add Member
            </button>
        </div>
    </div>

        <div class="flex:1; d-flex" style="flex-direction: row; ">
            <div style="overflow: hidden;">
                <app-defaultview 
                    [persons]="members" 
                    [membersChanged]="membersChanged.asObservable()"
                    [memberAdded]="memberAdded.asObservable()" 
                    (selectedPersonChanged)="selectedMemberChanged($event)">
                </app-defaultview>
            </div>

            <div class="h-100"
                style="min-width: 300px; background-color: white; border-left: 1px solid #DDD;">
                <span *ngIf="!selectedMember">Select a person on the graph</span>
                <div *ngIf="selectedMember">
                    {{selectedMember.firstName}} {{selectedMember.lastName}}
                    <div>
                        <button mat-button (click)="addChild(selectedMember)">Add child</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>