
<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-between w-100 align-items-center pr-4 pl-4 pt-3 pb-2" style="border-bottom: 1px solid #DDD;">
            <span style="font-size: large;">{{project?.name}}</span>
            <div>
                <button mat-button (click)="createMember()">
                    <span class="material-icons-outlined" style="font-size: 18px;">add_box</span>
                    Add Member
                </button>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div  class="d-flex justify-content-between">
            <app-defaultview [persons]="members" [events]="memberAdded.asObservable()" (selectedPersonChanged)="selectedMemberChanged($event)" [spaceOxTaken]="556"></app-defaultview>
            <!-- <div class="col-md-6 col-xl-3" *ngFor="let member of members">
                <div class="mat-elevation-z2 m-2 p-3" style="background-color: white; border-radius: 8px;">
                    <div style="color: #3c4043;font-size: .875rem; font-weight: 500;">
                        {{member.firstName}}
                    </div>
                </div>
            </div> -->
            <div style="width: 300px; background-color: white; z-index: 10; right:0; position: fixed; height:100%; border-left: 1px solid #DDD;">
                <div *ngIf="selectedMember">
                    {{selectedMember.firstName}}
                </div>
            </div>
        </div>
    </div>
</div>